.my-message-view {
    -fx-background-color: orange;
}
.user-message-view {
    -fx-background-color: gray;
}
.system-message-view {
    -fx-background-color: white;
}
.message-view {
    -fx-padding: 10px;
    -fx-background-radius: 20px;
}

.chat-scene {
    -fx-background-color: rgb(15,15,15);
}
.chat-scene-trans {
    -fx-background-color: transparent;
}

.prompt-field {
    -fx-font-family: "Arial";
    -fx-font-size: 1.5em;
    -fx-background-color: transparent;
    -fx-border-width: 1.5px;
    -fx-border-color: orange;
    -fx-border-radius: 50px;
    -fx-text-fill: lightgray;
    -fx-prompt-text-fill: orange;
}
.user-card {
    -fx-background-color: black;
}

.user-name-label {
    -fx-font-size: 2em;
    -fx-font-family: "Arial";
}
.user-id-label {
    -fx-text-fill: orange;
    -fx-font-family: "Arial";
    -fx-border-width: 0;
}


.scroll-pane {
    -fx-background-color: transparent;
}

/* Скрыть вертикальную полосу прокрутки */
.scroll-pane .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

/* Скрыть горизонтальную полосу прокрутки */
.scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

/* Скрыть ползунки (thumb) */
.scroll-pane .scroll-bar .thumb {
    -fx-opacity: 0;
}

/* Скрыть стрелки */
.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 0;
}