name: Build PlovChat

on:
  push:
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'microsoft'
          java-version: '21'
          cache: 'maven'

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Create Windows executable with jpackage
        run: |
          mkdir -p input-lib
          
          # Копируем JAR файл и зависимости
          copy "client\target\client.jar" input-lib\
          
          ls
          
          # Запускаем jpackage
          jpackage --type exe --name "PlovChat" --input input-lib --main-jar "client.jar" --app-version "0.1.0" --vendor "PlovDev" --copyright "Copyright © 2025" --description "Simple chat" --win-shortcut --win-menu

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-installer
          path: dist/*.exe
          retention-days: 7